:root {
  --font-ral: "Raleway", sans-serif;
  --font-robot: "Roboto", sans-serif;
  --color-gray: #757575;
  --color-blue: #2196f3;
  --color-darkblue-btnhover: #188ce8;
  --color-black: #000000;
  --color-dark: #212121;
  --color-white: #ffffff;
  --background-color-dark: #2f303a;
  --backgroud-color-gray: #f5f4fa;
  --border-header-color: #ececec;
  --border-portfolio-text: #eeeeee;
}

body {
  font-family: var(--font-robot);
  color: var(--color-gray);
  background-color: var(--color-white);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid yellowgreen; */
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* --------------------HEADER----------------- */
.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 50px;
}

.header-logo {
  font-family: var(--font-ral);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo-studio {
  color: var(--color-black);
}

.navigation {
  margin-right: auto;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link.current-studio {
  color: var(--color-blue);
}

.header-nav-link.current-portfolio {
  color: var(--color-blue);
}

.header-contacts {
  display: flex;
  gap: 50px;
}

.header-contact-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-gray);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}

.header-contact-item:hover,
.header-contact-item:focus {
  color: var(--color-blue);
}

/* -------------------FOOTER------------------ */
.footer {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: var(--font-ral);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo-studio {
  color: var(--color-white);
}

.footer-list-item {
  margin-bottom: 9px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}
.footer-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.footer-tel,
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}

.footer-item:hover,
.footer-item:focus {
  color: var(--color-blue);
}

/* ---------------PAGE STUDIO------------ */

/* ------------------HERO----------------- */
.hero-section {
  background-color: var(--background-color-dark);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.button-hero {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-blue);
  display: block;
  padding: 10px 32px;
  min-width: 216px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--color-darkblue-btnhover);
}

/* -----------------BENEFITS--------------- */
.benefits-section {
  padding-bottom: 0;
}

.benefits-item {
  flex-basis: calc((100% - 90px) / 4);
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-dark);
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

/* -----------------DIRECTIONS------------- */
.directions-list {
  display: flex;
  gap: 30px;
}

.directions-item {
  flex-basis: calc((100% - 60px) / 3);
}

.directions-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  margin-bottom: 50px;
}

/* ------------OUR TEAM------------ */
.team-section {
  background-color: var(--backgroud-color-gray);
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list-item {
  background-color: var(--color-white);
  flex-basis: calc((100% - 90px) / 4);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  /* outline: 1px solid green; */
}

/* -----------------PAGE STUDIO--------- */

/* -------------------FILTERS----------------- */

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button-filter {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  background-color: var(--backgroud-color-gray);
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--color-darkblue-btnhover);
  color: var(--color-white);
}

.button-filter.current-all {
  background-color: var(--color-darkblue-btnhover);
  color: var(--color-white);
}
/* ------------------PORTFOLIO----------------- */
.portfolio-title {
  color: var(--color-dark);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}

.portfolio-text-wrap {
  padding: 20px 24px;
  border-right: 1px solid var(--border-portfolio-text);
  border-left: 1px solid var(--border-portfolio-text);
  border-bottom: 1px solid var(--border-portfolio-text);
  /* outline: 1px solid green; */
}
